<h1>Hello, {{fullName}}!</h1>
<p>Please find the link below to reset your password</p>
<p>Please reset your password
  <a href='{{url}}' target='_blank'>Click here</a>
</p>
<p style='color:red;'>Link valid till 1 hour after sent</p>